<ion-header>
    <ion-navbar>
        <img src="assets/imgs/bs.png" alt="" class="logo-bs">
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <ion-card *ngFor="let buddy of buddies">
    <img src="{{ buddy.bio_image_url | image }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ buddy.name }}
      </ion-card-title>
      {{ buddy.bio }}
    </ion-card-content>
    <ion-row>
      <ion-col>
        <ion-icon name="bed" color="primary" *ngIf="buddy.hosting"></ion-icon>
        <ion-icon name="beer" color="primary" *ngIf="buddy.invite_drink"></ion-icon>
        <ion-icon name="camera" color="primary" *ngIf="buddy.guided_tour"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button full (click)="goToContact(buddy)">
          Contact
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
