<ion-header>
  <ion-navbar>
      <img src="assets/imgs/bs.png" alt="" class="logo-bs">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="buddyData">
    <h3>
      <b>Email</b>: <a (click)="mailto(buddyData.email)">{{ buddyData.email }} </a>
    </h3>
    <h3>
      <b>Skype</b>: {{ buddyData.skype }} 
    </h3> 
    <button ion-button icon-only color="primary" (click)="openSkype(buddyData.skype)">
      <ion-icon name="logo-skype"></ion-icon>
    </button>
  </div>
</ion-content>
