<ion-header>
  <ion-navbar>
      <img src="assets/imgs/bs.png" alt="" class="logo-bs">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let city of cities">
    <img src="{{ city.image_url | image }}"/>
    <ion-card-content>
      <ion-card-title>
        {{ city.city_name }}
      </ion-card-title>
    </ion-card-content>
    <ion-col>
      <ion-row>
        <button ion-button full (click)="goToBuddyPage(city.city_name)">
          Buddies
        </button>
      </ion-row>
      <ion-row>
        <button ion-button full (click)="goToRecommendations(city.city_name)">
          Recommendations
        </button>
      </ion-row>
    </ion-col> 
  </ion-card>
</ion-content>
