<ion-header>
  <ion-navbar>
      <img src="assets/imgs/bs.png" alt="" class="logo-bs">
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let recom of recommendations">
    <ion-card-header color="primary">
      {{ recom.place_name }}
    </ion-card-header>
    <ion-card-content>
      {{ recom.description }}
      <div>
          {{ recom.address }}
      </div>
    </ion-card-content>
    <ion-row>
      <ion-col text-center>
        <div>
            <ion-icon name="heart" color="primary"></ion-icon>{{recom.like}}
        </div>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
